# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Frontend
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Go
log_analytics_engine/bin/
log_analytics_engine/*.exe
log_analytics_engine/*.dll
log_analytics_engine/*.so
log_analytics_engine/*.dylib
log_analytics_engine/tmp/
log_analytics_engine/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
